// Place all the styles related to the site controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  background-color: white;
}

.start_page {
  text-align: center;
  margin: 150px auto;
}

img {
  background-color: black; //#c8c8c8;
  padding: 10px;
  border: 6px dashed white;
  border-radius: 4%;
}